{% extends 'base.html' %}

{% block title %}Nova Senha{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4>Criar Nova Senha</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }} <div class="small text-muted">{{ field.help_text }}</div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Alterar Senha</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}