{% extends 'base.html' %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="card border-success">
            <div class="card-body text-success">
                <h4 class="card-title">Tudo pronto! 🎉</h4>
                <p class="card-text">Sua senha foi alterada com sucesso.</p>
                <a href="{% url 'login' %}" class="btn btn-success mt-3">Fazer Login Agora</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}